
.sidebar {
    background-color:lightseagreen; 
    color: black; 
    width: 200px; 
    margin-top: 20px; /* Adjust the margin-top as needed */
    margin-bottom: 120px;
  }
  
  .sidebar ul {
    list-style-type: none; /* Remove default list styles */
    padding: 0;
  }
  
  .sidebar ul li {
    margin-bottom: 10px; /* Add margin between each list item */
  }
  
  .sidebar ul li a {
    display: block; /* Make links block-level elements */
    padding: 10px; /* Add padding to links */
    text-decoration: none; /* Remove default underline */
    color: inherit; /* Inherit the text color from the parent */
  }
  
  /* Style hover effect */
  .sidebar ul li a:hover {
    background-color: rgba(200, 52, 52, 0.1); /* Add a light gray background on hover */
  }
  .icon {
    margin-bottom: 50px; 
    margin-right: 50px;
  }
  
  .icon-img {
    width: 185px; 
    height: auto;
    margin-left: 0px;
  }